body {
  background-color: #edeff2;
  font-family: 'Open Sans', sans-serif;
  color: #6a859c;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #676770;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  float: none;
  color: #676770;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #676770;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #2d3e4f;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  text-align: center;
}

.button {
  display: inline-block;
  margin-top: 8px;
  margin-right: 10px;
  margin-left: 0px;
  padding: 12px 30px;
  border-radius: 4px;
  background-color: #69b9ff;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #2e9dff;
}

.button.w--current {
  margin-top: 8px;
  margin-left: 0px;
  background-color: #2e80b6;
}

.button.business {
  position: static;
  left: 0px;
  bottom: 0px;
  margin-top: 8px;
  margin-left: 0px;
  background-color: #2d3e4f;
}

.navigation-link {
  display: block;
  background-color: transparent;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #fff;
  text-align: left;
}

.navigation-link:hover {
  color: #f8c740;
}

.navigation-link.w--current {
  color: #fff;
}

.navigation-link.w--current:hover {
  color: #f8c740;
}

.navigation-link.create-profile-link {
  background-color: transparent;
  color: #30ad64;
}

.navigation-link.create-profile-link:hover {
  color: #f8c740;
}

.navigation-bar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: rgba(25, 32, 36, .67);
  color: #2d3e4f;
}

.navigation-bar.nav-new {
  position: absolute;
  margin-top: 5px;
  padding: 20px;
  background-color: transparent;
}

.hamburger-button {
  color: #fff;
}

.hamburger-button.w--open {
  background-color: transparent;
}

.navigation-menu {
  margin-top: 60px;
  background-color: #192024;
  text-align: center;
}

.main-section {
  position: relative;
  padding: 50px 15px 100px;
  background-color: #f0f0f0;
  text-align: center;
}

.main-section.coming-soon {
  padding-top: 100px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top-style: none;
  border-top-width: 6px;
  border-right-style: none;
  border-right-width: 3px;
  background-color: #fff;
  text-align: center;
}

.footer.center {
  border-top: 1px solid #dbdbdb;
  background-color: #383838;
  text-align: center;
}

.footer-text {
  margin-top: 15px;
  margin-bottom: 0px;
  padding-right: 15px;
  padding-left: 15px;
  float: none;
  color: #9e9e9e;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.info-icon {
  float: left;
}

.footer-link {
  display: block;
  margin-bottom: 6px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5e0;
  color: #668cad;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(0, 140, 255, .84);
}

.footer-link.with-icon {
  margin-left: 30px;
}

.honeycomb-nav-logo {
  position: absolute;
  top: 10px;
}

.hero-section {
  height: auto;
  padding-top: 100px;
  padding-bottom: 0px;
  background-image: -webkit-linear-gradient(270deg, rgba(45, 62, 79, .75), #2d3e4f), -webkit-linear-gradient(270deg, rgba(46, 157, 255, .5), rgba(46, 157, 255, .22)), url('../images/hc hero bg.jpg');
  background-image: linear-gradient(180deg, rgba(45, 62, 79, .75), #2d3e4f), linear-gradient(180deg, rgba(46, 157, 255, .5), rgba(46, 157, 255, .22)), url('../images/hc hero bg.jpg');
  background-position: 0px 0px, 0px 0px, 50% 0px;
  background-size: auto, auto, cover;
  background-attachment: scroll, scroll, fixed;
  font-weight: 300;
}

.hero-section.featured-restaurants {
  padding-top: 100px;
  padding-bottom: 0px;
  border-bottom: 1px none #000;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, rgba(45, 62, 79, .75), #2d3e4f), -webkit-linear-gradient(270deg, rgba(46, 157, 255, .5), rgba(46, 157, 255, .22)), url('../images/hc hero bg.jpg');
  background-image: linear-gradient(180deg, rgba(45, 62, 79, .75), #2d3e4f), linear-gradient(180deg, rgba(46, 157, 255, .5), rgba(46, 157, 255, .22)), url('../images/hc hero bg.jpg');
  background-position: 0px 0px, 0px 0px, 50% 0px;
  background-size: auto, auto, cover;
  background-attachment: scroll, scroll, fixed;
}

.hero-section.featured-restaurants.single {
  padding-top: 80px;
  background-image: -webkit-linear-gradient(270deg, rgba(45, 62, 79, .75), #2d3e4f), -webkit-linear-gradient(270deg, rgba(46, 157, 255, .5), rgba(46, 157, 255, .22)), url('../images/hc hero bg.jpg');
  background-image: linear-gradient(180deg, rgba(45, 62, 79, .75), #2d3e4f), linear-gradient(180deg, rgba(46, 157, 255, .5), rgba(46, 157, 255, .22)), url('../images/hc hero bg.jpg');
  background-position: 0px 0px, 0px 0px, 50% 0px;
  background-size: auto, auto, cover;
  background-attachment: scroll, scroll, fixed;
}

.heading-1 {
  display: block;
  margin: 0px auto;
  color: #fff;
  font-size: 40px;
  line-height: 60px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.link-block {
  padding-left: 5px;
}

.about-paragraph-1 {
  color: #668cad;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.restaurant-website-link {
  color: #676770;
  text-decoration: underline;
}

.welcome-header-text {
  margin-bottom: 50px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 5px;
}

.search-form {
  margin-top: 30px;
  margin-bottom: 30px;
}

.search-bar {
  display: inline-block;
  width: 85%;
  float: left;
  border-style: none;
  border-radius: 0px 3px 3px 0px;
  background-color: #192024;
  color: #fff;
}

.button-search {
  display: inline-block;
  width: 15%;
  padding-top: 9px;
  padding-bottom: 9px;
  float: left;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #5dbeec;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-div {
  padding-top: 15px;
  padding-bottom: 15px;
  float: none;
  border-style: solid solid none;
  border-width: 2px;
  border-color: transparent;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: transparent;
  color: #fff;
  text-align: center;
}

.nav-div:hover {
  border-style: solid;
  border-width: 2px 2px 5px;
  border-color: transparent transparent #fff;
  color: #f8c740;
}

.nav-div.nav-clicked {
  border-bottom: 5px solid #f8c740;
  background-color: transparent;
  color: #f8c740;
}

.page-title {
  display: inline-block;
  margin: 0px 12px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 4px;
}

.navigation-row {
  margin-top: 5px;
  border-bottom: 1px none #000;
  background-color: transparent;
  background-image: none;
}

.city-name-div {
  display: inline-block;
  width: 15%;
  padding-top: 9px;
  padding-bottom: 9px;
  float: left;
  border-right: 2px solid #2d3e4f;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #192024;
}

.search-city-name-text {
  margin-bottom: 0px;
  color: #bec3c7;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
}

.account-text {
  margin-top: 2px;
  float: right;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}

.account-icon {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 10px;
  float: right;
  border-radius: 0px;
}

.restaurant-name {
  margin: 15px 15px 10px;
  padding-right: 0px;
  padding-left: 0px;
  color: #192024;
  font-size: 19px;
  line-height: 28px;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
}

.restaurant-name.name-card {
  margin-bottom: 5px;
}

.restaurant-address {
  margin-right: 15px;
  margin-bottom: 0px;
  margin-left: 15px;
  float: none;
  color: #9e9e9e;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}

.rest-cta {
  margin-right: 0px;
  margin-left: 15px;
  float: right;
  border: 1px solid #5dbeec;
  border-radius: 3px;
  background-color: transparent;
  color: #fff;
  text-align: center;
}

.rest-cta.new-format {
  margin-right: 10px;
  margin-left: 0px;
  float: left;
}

.restaurant-listing-div {
  position: static;
  margin-right: 0px;
  margin-bottom: 35px;
  margin-left: 0px;
  padding: 0px 0px 15px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #bec3c7;
}

.restaurant-listing-div:hover {
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #5cbeec;
  color: #f8c740;
}

.item-name {
  margin-bottom: 5px;
  color: #2d3e4f;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  text-align: left;
}

.item-price {
  color: #2d3e4f;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.item-price.ing {
  margin-top: 10px;
  color: #9e9e9e;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;
}

.status-div {
  position: static;
  left: auto;
  top: 298px;
  display: block;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 15px 20px;
  border-style: solid none none;
  border-width: 4px 0px 0px;
  border-color: #5cbeec;
  border-radius: 0px;
  background-color: #fff;
  box-shadow: none;
  font-size: 16px;
  text-align: center;
}

.status-title {
  display: inline-block;
  margin: 10px 10px 15px;
  color: #192024;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.status-description {
  display: block;
  margin: 0px 0px 15px;
  color: #9e9e9e;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.disclaimer-paragraph {
  display: inline-block;
  margin-top: 0px;
  color: #9e9e9e;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

.disclaimer-2 {
  margin-top: 0px;
  padding: 0px 10px;
  border: 1px none #8e8e9c;
  border-radius: 3px;
  background-color: transparent;
}

.restaurant-image {
  position: static;
  overflow: visible;
  width: 100%;
  height: auto;
  background-color: transparent;
  opacity: 1;
}

.restaurant-image:hover {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.item-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.item-row.example {
  margin-top: 25px;
  margin-right: 0px;
  margin-left: 0px;
  border-style: solid none none;
  border-width: 3px 1px 1px;
  border-color: #bec3c7;
  border-radius: 0px;
  text-align: center;
}

.personalized-menu-title {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 35px;
  padding: 5px 20px;
  background-color: transparent;
  color: #2d3e4f;
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.menu-column {
  padding-right: 15px;
  padding-left: 15px;
  background-color: transparent;
}

.button-column {
  padding-right: 7px;
  padding-left: 7px;
}

.restaurant-menu-link {
  display: block;
  text-decoration: none;
}

.restaurant-menu-link:hover {
  box-shadow: 0 0 6px 0 #676770;
}

.nav-page-link {
  display: block;
  text-decoration: none;
}

.coming-soon-title {
  margin-top: 15px;
  font-size: 28px;
  line-height: 32px;
}

.go-back-button {
  margin-top: 10px;
  padding: 20px 30px;
  border-radius: 3px;
  background-color: #5cbeec;
  color: #fff;
  text-transform: uppercase;
}

.go-back-button:hover {
  background-color: #30ad64;
}

.back-to-top-button {
  position: fixed;
  right: 25px;
  bottom: 20px;
  z-index: 999;
  padding: 35px;
  border: 1px none #000;
  border-radius: 360px;
  background-color: rgba(25, 32, 36, .9);
  background-image: url('../images/up1white.png');
  background-position: 50% 39%;
  background-size: 50px;
  background-repeat: no-repeat;
}

.restaurant-description {
  margin: 20px 15px;
  padding-right: 0px;
  padding-left: 0px;
  color: #9e9e9e;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}

.restaurant-description.resto-update {
  width: 30vh;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 300;
  text-align: center;
}

.restaurant-description.update-date {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 300;
  text-align: center;
}

.reserve-button {
  margin-top: 0px;
  border-radius: 3px;
  background-color: #5cbeec;
  color: #fff;
  text-transform: uppercase;
}

.reserve-button:hover {
  background-color: #30ad64;
}

.coming-soon-container {
  padding-right: 10px;
  padding-left: 10px;
}

.personalized-text {
  color: #f8c740;
}

.account-div {
  margin-top: 0px;
  padding: 35px 20px;
  border-radius: 3px;
  background-color: transparent;
}

.account-title {
  margin-right: 20px;
  margin-left: 20px;
  color: #8e8e9c;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.account-email {
  margin-bottom: 10px;
  color: #3b99d9;
  font-size: 14px;
  text-align: left;
}

.account-email:hover {
  text-decoration: underline;
}

.account-diet {
  margin-bottom: 10px;
  color: #8e8e9c;
  font-size: 14px;
  text-align: left;
}

.dietary-button {
  display: block;
  margin-top: 15px;
  margin-right: 0px;
  margin-left: 0px;
  float: none;
  background-color: #5cbeec;
  font-size: 14px;
  text-align: center;
}

.account-heading-title {
  display: block;
  margin-bottom: 15px;
  color: #676770;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.account-heading-title.assistance {
  margin-top: 35px;
}

.account-link-block {
  position: static;
  top: auto;
  display: block;
  padding-top: 0px;
  float: right;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.legal-links {
  margin-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
  color: #9e9e9e;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  text-transform: none;
}

.legal-link-1 {
  color: #9e9e9e;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}

.legal-link-1:hover {
  text-decoration: underline;
}

.nav-div {
  display: block;
}

.item-div-2 {
  display: block;
  margin-bottom: 35px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-top: 2px none #bec3c7;
}

.menu-item-div {
  margin-left: 15px;
  padding: 15px;
  background-color: #fff;
}

.restaurant-update-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 10px 15px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 3px 1px 1px;
  border-color: #f8c740 #000 #000;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #bec3c7;
}

.latest-update-title {
  margin-top: 10px;
  margin-bottom: 15px;
  color: #192024;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
}

.disclaimer-button {
  border: 1px none #8e8e9c;
  border-radius: 3px;
  background-color: #f0f0f0;
  color: #8e8e9c;
  font-size: 10px;
  line-height: 16px;
  font-weight: 600;
}

.disclaimer-button:hover {
  color: #49647b;
}

.disclaimer-button.w--current {
  margin-bottom: 0px;
  border-radius: 3px;
  background-color: transparent;
  font-size: 10px;
}

.menu-restaurant-div {
  padding-bottom: 15px;
  border: 1px none #bec3c7;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #bec3c7;
}

.menu-type-div {
  margin-bottom: 25px;
  color: #f8c740;
}

.menu-type-button-1 {
  margin-right: 5px;
  margin-left: 5px;
  float: right;
  background-color: #fff;
  color: #2d3e4f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menu-type-dropdown {
  float: right;
  border-top: 4px solid #f8c740;
  background-color: #fff;
  color: #f8c740;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: default;
}

.featured-image {
  display: block;
  width: 30vh;
  height: 25vh;
  margin: 10px auto 15px;
  border-radius: 3px;
  background-image: url('../images/item0.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.featured-image:hover {
  background-image: -webkit-linear-gradient(270deg, rgba(45, 62, 79, .63), rgba(248, 199, 64, .18)), url('../images/item0.jpg');
  background-image: linear-gradient(180deg, rgba(45, 62, 79, .63), rgba(248, 199, 64, .18)), url('../images/item0.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.menu-disclaimer-title {
  margin-top: 10px;
  color: #192024;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

.status-text {
  color: #5cbeec;
  font-weight: 600;
}

.category-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.category-dropdown-1 {
  display: block;
  width: auto;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-top: 4px none #bec3c7;
  background-color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.category-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  padding-right: 5px;
  padding-left: 5px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.category-div.trending {
  margin-bottom: 10px;
}

.not-active-text {
  color: #f8c740;
  font-weight: 600;
}

.learn-more-link-text {
  color: #9e9e9e;
}

.toggle-menu-link {
  padding: 5px 20px;
  float: none;
  border-top: 4px none transparent;
  background-color: transparent;
  color: #9e9e9e;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.toggle-menu-link:hover {
  border-top-style: none;
  border-top-color: #f8c740;
  color: #192024;
}

.toggle-menu-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.other-links-section {
  padding: 80px 20px;
  background-color: #fff;
}

.other-links-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.other-link-div {
  display: block;
  padding: 25px 15px;
  border-right: 1px none #000;
  border-left: 1px none #000;
  color: #192024;
  text-align: center;
}

.other-link-div:hover {
  box-shadow: none;
}

.other-link-div.review-div:hover {
  box-shadow: 0 0 6px 0 #bec3c7;
  color: #5cbeec;
}

.other-link-div.invite-div:hover {
  box-shadow: 0 0 6px 0 #bec3c7;
}

.other-link-div.health-div:hover {
  box-shadow: 0 0 6px 0 #bec3c7;
  color: #fc7d64;
}

.other-link-title {
  display: inline-block;
  margin-bottom: 15px;
  padding-bottom: 7px;
  border-bottom: 3px solid #f8c740;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.other-link-title.invite-link {
  color: #f8c740;
}

.other-link-title.health-link {
  border-bottom-color: #fc7d64;
  color: #fc7d64;
}

.other-link-title.review-link {
  border-bottom-color: #5cbeec;
  color: #5cbeec;
}

.other-link-link-block {
  display: block;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-decoration: none;
}

.other-link-description {
  color: #9e9e9e;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.question-bold {
  color: #9e9e9e;
  font-weight: 400;
}

.social-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  margin-bottom: 0px;
  padding: 0px 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-icon {
  margin-right: 5px;
  margin-left: 5px;
}

.disclaimer-div-block {
  margin-top: 70px;
  padding: 15px 35px;
  background-color: #fff;
}

.menu-category-heading {
  margin-top: 15px;
  margin-bottom: 35px;
  margin-left: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #bec3c7;
  color: #8e8e9c;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.disabled-text {
  color: #8e8e9c;
}

.enable-personalization-button {
  border-radius: 3px;
  background-color: #30ad64;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.section-description {
  margin-bottom: 50px;
  margin-left: 15px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #8e8e9c;
  line-height: 32px;
  font-weight: 400;
  text-align: left;
}

.listing-page-heading {
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #8e8e9c;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.listing-title {
  font-weight: 600;
}

.profile-div {
  padding: 25px 20px;
  border-top: 4px solid #9e9e9e;
  background-color: #fff;
}

.user-info-div {
  padding: 25px 20px;
  border-top: 4px solid #9e9e9e;
  background-color: #fff;
}

.support-email {
  color: #8e8e9c;
}

.dropdown-menu-toggle {
  padding-right: 20px;
  cursor: default;
}

.verify-container {
  padding: 35px 25px;
  background-color: #fff;
  text-align: left;
}

.account-page-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.verification-page-title {
  margin-top: 35px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.verification-page-title.first {
  margin-top: 0px;
}

.verify-page-paragraph {
  text-align: left;
}

.verify-page-paragraph.column {
  margin-right: 15px;
}

.verify-status-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
}

.verify-status-title.active {
  color: #5cbeec;
  font-size: 16px;
  text-align: left;
}

.verify-status-title.unverified {
  color: #f8c740;
  font-size: 16px;
  text-align: left;
}

.status-row {
  margin-top: 35px;
}

.verify-title-container {
  margin-bottom: 50px;
}

.item-description {
  margin-top: 10px;
  color: #9e9e9e;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.column-2 {
  padding-right: 25px;
  padding-left: 25px;
}

.column-1 {
  padding-right: 25px;
  padding-left: 25px;
}

.invite-form {
  margin-top: 25px;
}

.success-message {
  background-color: #f0f0f0;
}

.change-link {
  color: #3b99d9;
  text-decoration: none;
}

.email-us {
  color: #8e8e9c;
  font-size: 14px;
  text-align: left;
}

.profile-email {
  margin-bottom: 10px;
  color: #8e8e9c;
  font-size: 14px;
  text-align: left;
}

.logout {
  display: inline-block;
  margin-top: 35px;
  float: left;
  color: #8e8e9c;
  font-size: 14px;
  text-align: left;
  text-decoration: none;
}

.logout:hover {
  text-decoration: underline;
}

html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6000000000000003, 0.6000000000000003);
  -ms-transform: scale(0.6000000000000003, 0.6000000000000003);
  transform: scale(0.6000000000000003, 0.6000000000000003);
}

html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}

@media (max-width: 991px) {
  .navigation-link {
    color: hsla(0, 0%, 100%, .52);
  }
  .navigation-link.w--current {
    color: #fff;
  }
  .hamburger-button.w--open {
    background-color: transparent;
  }
  .navigation-menu {
    background-color: #192024;
  }
  .search-bar {
    width: 75%;
  }
  .city-name-div {
    width: 25%;
  }
  .restaurant-name.name-card {
    font-size: 14px;
    line-height: 23px;
  }
  .restaurant-address {
    font-size: 10px;
    line-height: 16px;
  }
  .restaurant-address.menu-address {
    font-size: 14px;
    line-height: 20px;
  }
  .restaurant-listing-div {
    margin-right: 0px;
    margin-left: 0px;
  }
  .status-div {
    position: static;
    top: auto;
  }
  .status-description {
    display: block;
  }
  .restaurant-image {
    margin-left: 0px;
  }
  .menu-column {
    padding-right: 0px;
    padding-left: 0px;
  }
  .menu-type-div {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .hamburger-button.w--open {
    background-color: transparent;
  }
  .navigation-menu {
    background-color: #192024;
  }
  .spc {
    margin-bottom: 30px;
  }
  .honeycomb-nav-logo {
    margin-left: 10px;
  }
  .hero-section.featured-restaurants {
    padding-top: 100px;
  }
  .welcome-header-text {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 12px;
    line-height: 20px;
  }
  .search-form {
    margin-right: 20px;
    margin-left: 20px;
  }
  .search-bar {
    width: 70%;
  }
  .nav-div {
    background-color: transparent;
  }
  .nav-div:hover {
    border-style: solid;
  }
  .nav-div.nav-clicked:hover {
    border-bottom-style: solid;
    border-bottom-color: #fff;
    background-image: none;
  }
  .city-name-div {
    width: 30%;
  }
  .account-text {
    margin-right: 10px;
  }
  .restaurant-name.name-card {
    font-size: 19px;
    line-height: 28px;
  }
  .restaurant-address {
    font-size: 14px;
    line-height: 20px;
  }
  .restaurant-listing-div {
    margin-left: 0px;
  }
  .status-div {
    position: relative;
    margin-top: 35px;
  }
  .personalized-menu-title {
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #2d3e4f;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 2px;
  }
  .menu-column {
    margin-top: 35px;
  }
  .button-column {
    padding-right: 0px;
    padding-left: 0px;
  }
  .account-title {
    margin-right: 30px;
    margin-left: 30px;
  }
  .restaurant-menu-name {
    color: #f8c740;
  }
  .category-dropdown-1 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .user-info-div {
    margin-top: 35px;
  }
  .column-2 {
    margin-top: 35px;
  }
}

@media (max-width: 479px) {
  .button {
    margin-bottom: 25px;
  }
  .navigation-bar.nav-new {
    padding-right: 10px;
    padding-left: 10px;
  }
  .hamburger-button.w--open {
    background-color: transparent;
  }
  .navigation-menu {
    background-color: #192024;
  }
  .main-section {
    padding-top: 35px;
  }
  .main-section.coming-soon {
    padding-top: 50px;
  }
  .honeycomb-nav-logo {
    margin-left: 0px;
  }
  .hero-section {
    padding-top: 60px;
  }
  .hero-section.featured-restaurants {
    padding-top: 60px;
  }
  .hero-section.featured-restaurants.single {
    padding-top: 60px;
  }
  .search-form {
    margin-bottom: 30px;
  }
  .search-bar {
    width: 65%;
    font-size: 13px;
  }
  .nav-div {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: transparent;
  }
  .nav-div:hover {
    border-style: solid;
  }
  .nav-div.nav-clicked {
    position: static;
    top: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 5px solid #f8c740;
    background-color: transparent;
  }
  .nav-div.nav-clicked:hover {
    border-style: solid;
    border-color: transparent transparent #fff;
    background-image: none;
  }
  .page-title {
    margin-top: 5px;
    font-size: 10px;
    letter-spacing: 2px;
  }
  .navigation-row {
    padding-right: 20px;
    padding-left: 20px;
  }
  .city-name-div {
    width: 35%;
  }
  .search-city-name-text {
    font-size: 10px;
    line-height: 20px;
  }
  .account-text {
    margin-top: 0px;
    margin-right: 0px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 16px;
  }
  .restaurant-listing-div {
    margin: 0px 0px 35px;
  }
  .restaurant-column {
    margin-bottom: 35px;
    padding-left: auto;
  }
  .status-div {
    position: static;
    margin-top: 35px;
  }
  .status-description {
    display: block;
  }
  .item-row.example {
    margin-right: 0px;
  }
  .personalized-menu-title {
    margin: 25px 10px 35px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px none #bec3c7;
    border-radius: 0px;
    background-color: #2d3e4f;
    color: #fff;
    font-size: 13px;
    line-height: 28px;
    letter-spacing: 2px;
  }
  .menu-column {
    margin-top: 0px;
  }
  .button-column {
    padding-right: 0px;
    padding-left: 0px;
  }
  .account-div {
    padding-right: 10px;
    padding-left: 10px;
    background-color: transparent;
  }
  .account-title {
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
  }
  .restaurant-menu-name {
    color: #f8c740;
    text-decoration: none;
  }
  .restaurant-link-block {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
  }
  .menu-type-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px;
    margin-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .menu-type-dropdown {
    margin-right: 0px;
    margin-left: 0px;
    float: right;
  }
  .category-dropdown-1 {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .category-div {
    margin-bottom: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section-description {
    line-height: 26px;
    text-align: left;
  }
  .listing-page-heading {
    text-align: center;
  }
  .verify-title-container {
    margin-bottom: 35px;
  }
}

